/* =============================================================
 * BASE STYLES
 * ============================================================*/

.#{$hotel-datepicker-prefix} {
	box-sizing: border-box;
	overflow: hidden;
	position: absolute;
	width: 260px;
	z-index: 1;

	@include mq_s {
		width: 300px;
	}

	@include mq_m {
		width: 460px;
	}

	@include mq_l {
		width: 560px;
	}
}

.#{$hotel-datepicker-prefix}__inner {
	overflow: hidden;
}

.#{$hotel-datepicker-prefix}__months {
	@include mq_m {
		overflow: hidden;
	}
}

.#{$hotel-datepicker-prefix}__month {
	border-collapse: collapse;
	text-align: center;
	width: 100%;

	@include mq_m {
		width: 200px;
	}

	@include mq_l {
		width: 240px;
	}
}

.#{$hotel-datepicker-prefix}__month--month1 {
	@include mq_m {
		float: left;
	}
}

.#{$hotel-datepicker-prefix}__month--month2 {
	display: none;

	@include mq_m {
		display: table;
		float: right;
	}
}

.#{$hotel-datepicker-prefix}__month-day--valid {
	cursor: pointer;
}

.#{$hotel-datepicker-prefix}__month-day--lastMonth,
.#{$hotel-datepicker-prefix}__month-day--nextMonth {
	visibility: hidden;
}

.#{$hotel-datepicker-prefix}__month-button {
	cursor: pointer;
}

.#{$hotel-datepicker-prefix}__month-button--disabled {
	@include mq_m {
		visibility: hidden;
	}
}

.#{$hotel-datepicker-prefix}__info--feedback {
	display: none;
}

.#{$hotel-datepicker-prefix}__info--error,
.#{$hotel-datepicker-prefix}__info--help {
	display: block;
}

.#{$hotel-datepicker-prefix}__close-button {
	cursor: pointer;
}
.#{$hotel-datepicker-prefix}__tooltip {
	position: absolute;
}
